go 1.26.4

use (
	./api-gateway
	./audit-service
	./auth-service
	./ledger-service
	./notification-service
	./payment-service
	./scheduler-service
	./shared
	./transaction-service
	./user-service
	./wallet-service
)
